# Entornos virtuales de Python
/abogacia_entorno/
venv/
.venv/
M_abog/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
backend/__pycache__/
backend/models/__pycache__/
backend/routers/__pycache__/
backend/schemas/__pycache__/
backend/services/__pycache__/

# Archivos de distribución de Python
/dist/
/build/
*.egg-info/

# Flutter/Dart/Pub related (Root or Nested)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Subfolders
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/windows/flutter/ephemeral/

# Database 
db.sqlite3
*.db
*.sqlite

# Uploads
uploads/
/uploads/

# User specific config
.env
backend/config.py

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history